{{define "favoris"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoris</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<header>
    <a href="http://localhost:8080/home"><img src="/static/images/logo.png" class="logo"></a>
    <a href="http://localhost:8080/collection" style="text-decoration: none;"> Collection </a>
    <a href="http://localhost:8080/categorie" style="text-decoration: none;"> Pokémons</a>
    <a href="http://localhost:8080/favoris" style="text-decoration: none;"> Favoris </a>
    <form id="search-form" action="/result" method="GET">
        <div class="search">
            <input class="round" type="search" name="query" placeholder="Rechercher" />
            <input type="submit" class="corner" value="" />
    </form>
    </div>
</header>

<body>
    <h1>Favorite Pokémon</h1>
    <ul>
        {{range .}}

        <li>
            <img class="pokemon-image" src="{{.Image}}" alt="">
            <strong>{{.Name}}</strong> - ID: {{.ID}}<br>
            <strong>Types:</strong>
            <ul>
                {{range .Type}}
                <img class="type-img" src="/static/images/{{.}}.png"></p>
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>
</body>
<footer>
    <a href="https://github.com/prplecloud" style="text-decoration: none;"> Contact </a>
</footer>

</html>
{{end}}